* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#map {
    height: 60vW;
    max-height: 100vh;
}

/* ! IL MARKER "END" COPRE IL MARKER "START" */

/* TODO: Capisci come selezionare l'ultimo marker (tipo :last-child) */

/* TODO: Modifica le dimensioni o la posizione del Marker di fine percorso. */

